@media (max-width:700px){
    header{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}