@media (max-width: 700px) {
  header {
    gap: 20vw;
  }

  header nav .navlinks {
    display: none;
  }

  .menu-icon {
    display: flex;
    font-size: 30px;
  }

  #menu-toggle:checked ~ .navlinks {
    display: flex;
    position: absolute;
    right: 20px;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
}
