@media (max-width: 700px) {
  header{
    background-color: var(--cor-fundo-site);
    gap: 20vw;
    border: var(--borda-secundaria);
  }

  header nav .navlinks{
    display: none;
  }

  header nav a{
    background-color: var(--cor-fundo-site);
  }

  .menu-icon{
    display: flex;
    font-size: 30px;
  }

  #menu-toggle:checked ~ .navlinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
}
